* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-size: 14px;
}

h1 {
  font-size: 38px;
  line-height: 1.6;
}

header {
  width: 100%;
  background: #ddd;
  padding: 30px 5%;
  margin-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

nav ul {
  text-align: center;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding:  0 30px;
  font-size: 1.5em;
}

nav a {
  color :#222;
}

.hamburger-container {
  display: none;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  float: right;
}

.hamburger {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 20px;
  height: 8px;
  margin: 10px auto 0;
}

.products {
  max-width: 960px;
  margin: 0 auto 40px;
  overflow: hidden;
}

.hero {
  max-width: 960px;
  margin: 0 auto 60px;
  text-align: center;
}

.card {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.title {
  font-size: 30px;
}
